.login-page{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    min-width:100vw;
}

.lp-header{
    position:absolute;
    top: 0;
    left: 0;
    margin:20px;
    font-size: 30px;
}

.lp-login-box{
    width: 400px;
    height:500px;
    background-color:white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;

    display: flex;
}

.lp-lb-marg{
    flex: 1;
    margin:50px;

    display:flex;
    flex-direction: column;
    gap:10px;
    
    /* background-color: lightcyan; */
}

.lp-lb-1{
    height:150px;
    /* background-color: lightblue; */
    text-align: left;
    font-size:30px;
    font-weight:bold;

    display:flex;
    align-items: center;

}

.lp-lb-2{
    /* background-color: lightgreen; */
    flex: 1;
}

.lp-lb-form{
    flex: 1;
    /* background-color:beige; */

    display:flex;
    flex-direction: column;
    gap:10px;

}

.lp-form-input{
    height:40px;
}

.lp-remember-me{
    display:flex;
    align-items: center;
    padding-top:30px;
}

.lp-checkbox{
    height:15px;
    width:15px;
}

.lp-checkbox-label{
    font-size:15px;
}

.lp-login-btn{
    height: 40px
}

